:root {
  --input-color: #858793;
  --grey-color: #e0e0e0;
  --orange-color: #f5913e;
  --grey2: #c8c8c8;
  --text: #000;
  --text2: #fff;
}

.cal {
  background: var(--grey2);
  min-width: 540px;
  height: auto;
  border: solid 1px #000;
}

.cal-input {
  width: 100%;
  padding: 40px;
  background: var(--input-color);
  text-align: right;
  font-size: 1rem;
  color: var(--text2);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn {
  padding: 40px;
  background-color: #e4e4e4;
  font-size: 1.2rem;
  border-right: 1.5px solid var(--grey2);
  border-bottom: 1.5px solid var(--grey2);
}

.btn-2 {
  background-color: var(--orange-color);
}
