:root {
  --input-color: #595f7d;
  --grey-color: #e0e0e0;
  --orange-color: #f5913e;
  --orange-hover: #d2660d;
  --grey2: #c8c8c8;
  --text: #000;
  --text2: #fff;
}

body {
  background: var(--grey2);
}

.cal-section {
  padding: 8% 10%;
}

.cal {
  background: var(--grey2);
  width: 540px;
  height: auto;
  border: solid 1px #c8c8c8;
  float: right;
  margin-top: -5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cal-input {
  width: 100%;
  padding: 30px;
  background: var(--input-color);
  text-align: right;
  font-size: 1.5rem;
  color: var(--text2);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn,
.btn-2 {
  padding: 30px;
  background-color: #e4e4e4;
  font-size: 1.5rem;
  border-right: 1.6px solid var(--grey2);
  border-bottom: 1.6px solid var(--grey2);
}

.btn:hover {
  background-color: #77abee;
}

.btn-2 {
  background-color: rgb(9, 113, 233);
}

.btn-2:hover {
  background-color: var(--orange-hover);
}
