@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

.cal-section {
  background-color: #e4e4e4;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
